<h1>Listing questions</h1>

<table style="width: 50%; text-align: center;">
  <tr>
    <th>ID</th>
    <th>Type</th>
    <th>Photo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
  	<td>
  		<%= question.id %>
  	</td>
  	<td>
  		<%= question.question_type %>
  	</td>
  	<td>
  		<%= image_tag(question.photo.url(:thumb)) %>
  	</td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
